@media only screen and (max-width: 48rem) {
  body {
    display: initial;
  }

  .md-hide {
    display: block;
  }

  .sm-hide {
    display: none;
  }

  .card {
    margin-top: 2rem;
  }

  #menu {
    max-width: unset;
  }

  #menu,
  #content {
    width: 100%;
    margin: 0;
  }
}
