---
layout: default
---

<div class="card">
    <h1>{{page.collection}}</h1>

    {% assign count = site[page.type][page.collection] | size %}
    <p>
        Contains {{ count }} post{% if count > 1 %}s{% endif %}
    </p>

    {% assign content = page.content | strip_newlines %}
    {% if content != "" %}
    <p>
        {{ content }}
    </p>
    {% endif %}
</div>

<div class="card preview">
    {% for post in site[page.type][page.collection] %}
    <p>
        <a href="{{ post.url }}">{{ post.title }}</a>
        sent {{ post.date | date: "%A %B %d, %Y" }}
    </p>
    {% endfor %}
</div>