<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }} - Flux RSS"
        href="{{ site.url }}/feed.xml">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    {% seo %}
</head>
<body>
    {% include leftcolumn.html %}
    <div id="content">
        {{ content }}
        {% include partials/footer.html additional-class="md-hide" %}
    </div>
</body>
</html>